@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    
}
body{
    background-image: url("new\ year.jpg");
    font-family: "Poppins",sans-serif;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
   background-size: cover;
   min-height: 60vh;
   margin: 0;
   
}
h1{
    font-weight: normal;
    font-size: 5rem;
    margin-top: 5rem;
    margin-top: 5rem;
    color:azure;
}
.countdown-container{
    display: flex;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1 ;
    margin: 0 2rem;
    color:azure;
}
.countdown-el {
    text-align: center;
}
.countdown-el span{
    font-size: 1.5rem;
    color:azure;
}